.main-body {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 1300px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-weight: bolder;
    font-size: 35px;
}

.bestsellers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.bestsellers a{
    text-decoration: none;
    color: black;
}

.itemimg{
    width: 250px;
    height: 300px;
}

.itembrand{
    font-weight: bold;
}

.itemimg img{
    width: 100%;
    height: 100%;
}

.itemprice{
    color: rgb(185, 6, 6);
}